#team {
    background-color: #f2f2f2;
    margin-top: 0;
    left: 0;
    right: 0;
   

    
}

section {
    padding: 30px;
}

member {
    position: relative;
}

.overlay {
    background-color: rgba(42,97,124,10); 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .3s linear;
}

.member:hover .overlay {
    height: 100%;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.member-info {
    text-align: left;   // iconları ortalamak için center kullanabilirsin
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    color: #fff;
}

.social-list {
    padding: 0;
}

.social-list li {
  
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
}

.social-list li a {
    border: 1px solid #fff;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    border-radius: 50%;
    transition: all .3s linear;
}

.social-list li:nth-child(1) a:hover {
    background-color: #3b5998; /*icon hover rengi*/
    border-color: transparent;
}
.social-list li:nth-child(2) a:hover {
    background-color: #3b5998; /*icon hover rengi*/
    border-color: transparent;
}
.social-list li:nth-child(3) a:hover {
    background-color: #3b5998; /*icon hover rengi*/
    border-color: transparent;
}

#members > div.owl-nav > button.owl-prev, #members > div.owl-nav > button.owl-next {
    color: #164157;
    font-size: 36px;
    background-color: none;
}

#team h2 {
    padding-left: 20px;
    border-left: 3px solid #164157;
}

.teamparap {
    margin-left: 23px;
    margin-top: 20px;
}
